* {
	font-family: 'Courgette', cursive;
	font-weight: 700;
}

#signinButton{
	position: relative;
	left: 121px;
	top: 419px;
}

div#google-signinImage{
	background: url("/static/google-sign-in.jpg");
}


body, html {
		background: url("/static/kitchen.jpg");
    background-position-x: 0%!important;
    background-position-y: 0% !important;
    background-repeat: repeat;
    background-size: auto auto;
		background-position: right;
		background-repeat: no-repeat;

}
h1 {
	font-family: 'Courgette', cursive;
	font-size: 50px;
  color: orangered;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}
 p {
 	font-family: 'Courgette', cursive;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
 }
.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}
.btn {
	padding: 20px;
	margin: 0;
	border-color: #42C3C9;
	border-width: 2px;
  color: orangered;
}
.btn:hover {
	border-color: #42C3C9;
	color: #4CAF50;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}

.btn.btn-default.delete.cancel {
	position: absolute;
	left: 195px;
	top: 111px;
}

.glyphicon {
	margin-right: 10px;
}
.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}
.divider {
	height: 15px;
}
.divider.blue {
	background-color: #42C3C9;
}
.divider.green {
	background-color: #9FB7E6;
}
.banner.main {
	height: 150px;
	background: url("/static/top-banner.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner.menu {
	height: 150px;
	background: url("/static/top-banner.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner.profile {
	height: 150px;
	background-color: #A6E8EB;
}
.banner h1 {
	margin: 45px 0;
  margin-left: 5px;
}

#cuisine-details {
	margin-top: 100px;
}


 .restaurant-list {
	 background-image: linear-gradient(to bottom, #42c3c9, #4fc1d9, #69bfe3, #85bbe8, #9fb7e6);
	 padding: 60px;
	 margin-bottom: 15px;
	 border-radius: 80px;
 }
 .restaurant-list:hover {
 	background-color: #42C3C9;
 	padding: 60px;
	 background-image: linear-gradient(to top, #42c3c9, #4fc1d9, #69bfe3, #85bbe8, #9fb7e6);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
.menu-item {
	background: #F0F0F0;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
}
.menu-price {
	font-weight: 700;
}

#menu-pane{
	margin-right: 447px;
}
.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}
.creator img {
	width: 100px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: -20px;
}
.flash {
	background-color: #9FB7E6;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}
