{% extends "main.html" %}
{% block content %}
{% include "headerlogin.html" %}
<!DOCTYPE html>
<html>
<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<style>html, body{background-image: linear-gradient(to bottom, #42c3c9, #4fc1d9, #69bfe3, #85bbe8, #9fb7e6); width: 100%; height: 100%}</style>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<body>

  <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
          {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}

  </div>

<!-- GOOGLE PLUS SIGN IN-->

          <div id="signinButton">
          <img src="/static/google-sign-in.png" style="position: relative;left: 251px;bottom: 88px;">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="908204975906-6v0h08i93b0bgg2hru276c1tv73jp0gp.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>


<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');

    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      contentType: 'application/octet-stream; charset=utf-8',
      data: authResult['code'],
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/cuisines/";
         }, 4000);


      } else if (authResult['error']) {

    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }

      }

  }); } }
</script>



<!--END GOOGLE PLUS SIGN IN -->

  </body>

  </html>
{% endblock %}
